<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead text-center text-capitalize">
                <%= campground.name %>
            </p>
            <div class="card shadow-sm mt-2">
                <div class="card-header">
                    <i class="far fa-calendar-alt"></i> Booking Window
                </div>
                <ul class="list-group list-group flush">
                    <li class="list-group-item text-capitalize">
                        <%= campground.bFrom %> - <%= campground.bTo %>
                    </li>
                </ul>
            </div>
            <div class="card shadow-sm mt-3">
                <div class="card-header">
                    <i class="fas fa-phone"></i> Contact
                </div>
                <ul class="list-group list-group flush">
                    <li class="list-group-item text-capitalize">
                        <%= campground.contact %>
                    </li>
                </ul>
            </div>
            <div class="card shadow-sm mt-3">
                <div class="card-header">
                    <i class="fas fa-map-pin"></i> Location
                </div>
                <ul class="list-group list-group flush">
                    <li class="list-group-item text-capitalize">
                        <%= campground.location %>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="col-md-9">
            <div class="card shadow-sm">
                <img src="<%= campground.image %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title float-right">$<%= campground.price %>/Night</h5>
                    <h5 class="card-title text-capitalize">
                        <%=campground.name%>
                        <% if(currentUser && campground.author.id.equals(currentUser._id)) { %> 
                            <a href="/campgrounds/<%- campground.id %>/edit" class="btn btn-sm btn-outline-warning"><i class="fas fa-pen"></i></a>
                            <form class="deletebtn" action="/campgrounds/<%- campground.id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        <% } %> 
                    </h5>

                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <hr>
                    <p class="card-text text-muted">
                        <span>Submitted by <a href="#"><%= campground.author.username %></a> on <%= moment(campground.createdAt).format("MMMM Do, YYYY") %></span>
                    </p>
                </div>
            </div>

            <div class="card shadow-sm mt-4" id="comments">
                <ul class="list-group list-group-flush">
                    <li id="commentItem" class="list-group-item list-group-item-light">
                        <button class="btn btn-success float-right" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                            Leave a Review
                        </button>
                    </li>

                    <div class="collapse" id="collapseComment">
                        <div class="card-body">
                            <form action="/campgrounds/<%= campground._id %>/comments" method="POST" novalidate>
                                <div class="form-group">
                                    <textarea class="form-control" name="comment[text]" rows="3" required></textarea>
                                    <div class="invalid-feedback">
                                        You cannot leave this part blank.
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-sm">Submit</button>
                                <button type="reset" class="btn btn-secondary btn-sm float right">Reset</button>
                            </form>
                        </div>
                    </div>
                    <% campground.comments.forEach(function(comment){ %>
                    <li class="list-group-item">
                        <p>
                            <i class="fas fa-user"></i> 
                            <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
                            <span class="float-right text-muted">
                                <small><%= moment(comment.createdAt).fromNow() %></small>
                            </span>
                        </p>
                        <span class="text-muted"><%= comment.text %></span>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <div class="mt-3">
                                <a class="btn btn-sm btn-outline-warning" data-toggle="collapse" data-target="#editComment" aria-expanded="false" aria-controls="editComment">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <form class="deletebtn" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                            <div class="collapse" id="editComment">
                                <div class="card-body">
                                  <form class="needs-validation" action="/campgrounds/<%= campground.id %>/comments/<%= comment._id %>?_method=PUT" method="POST" novalidate>
                                    <div class="form-group">
                                      <textarea class="form-control" id="exampleFormControlTextarea1" name="comment[text]" rows="3" required><%= comment.text %></textarea>
                                      <div class="invalid-feedback">
                                        You cannot leave this part blank.
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-sm">Edit Comment</button>
                                    <button type="reset" class="btn btn-secondary btn-sm float right">Reset</button>
                                  </form>
                                </div>
                              </div>
                        <% } %>
                    </li>
                    <% }) %> 
                </ul>
            </div>

        </div>
    </div>
</div>

<% include ../partials/footer %>